<?xml version="1.0"?>
<configuration>
<startup>
  <supportedRuntime version="v2.0.50727"/>
</startup>

  <connectionStrings>
    <add name="PLCDatabaseConnection" connectionString="Initial Catalog = FunctionalTest;Data Source = fshiftsql; User ID=isg; Password=isg"/>
  </connectionStrings>
    
         
  <appSettings>
      <add key="plc_address" value="192.168.1.101" />
      <add key="email" value="DG_ITAlert@safaricircuits.com" />
      <add key="show_debug" value="false" />
      <add key="mail_server" value="smtp.otsego" />
      <add key="delay" value="20" />    
  </appSettings>

</configuration>
